extends layouts/main-layout.pug

block content 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, porro from index.pug
block more_content 
    p this is for more content 
    p #{bestMovie}
    p=bestMovie