doctype html
html
    head 
        title Home Page
    body 
        header 
            nav 
                ul 
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/") About 
            h1 This is Layout 
            hr
        block content

        section 
            h2 This is main layout 
        block more_content